<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- hibernate配置，通过xml文件来创建表 -->
<hibernate-configuration>
  <session-factory>
  	<property name="hibernate.connection.url">
       	 <![CDATA[jdbc:mysql://localhost/TestHibernate1?useUnicode=true&characterEncoding=utf8]]>
  	</property>
    <property name="connection.username">root</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name="connection.password">lhy940802</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>   
 	<property name="hibernate.hbm2ddl.auto">create</property>	
	<property name="connection.characterEncoding">utf-8</property>
	
    <!-- <mapping resource="Payment.xml"/>  -->
    <mapping resource="Payment2.xml"/> 
    
  </session-factory>
</hibernate-configuration>